.header__wrapper
	align-items(center)
	flexbox()
	flex-direction(column)
	height 700px
	justify-content(center)
	width 100%
	
	// background $orange20
	// background -moz-linear-gradient(top, $orange20 0%, $grey20 100%)
	// background -webkit-gradient(left top, left bottom, color-stop(0%, $orange20), color-stop(84%, $grey20), color-stop(100%, $grey20))
	// background -webkit-linear-gradient(top, $orange20 0%, $grey20 100%)
	// background -o-linear-gradient(top, $orange20 0%, $grey20 100%)
	// background -ms-linear-gradient(top, $orange20 0%, $grey20 100%)
	// background linear-gradient(to bottom, $orange20 0%, $grey20 100%)
	
	background $grey20
	background -moz-linear-gradient(top, $grey20 0%, $orange20 200%)
	background -webkit-gradient(left top, left bottom, color-stop(0%, $grey20), color-stop(200%, $orange20))
	background -webkit-linear-gradient(top, $grey20 0%, $orange20 200%)
	background -o-linear-gradient(top, $grey20 0%, $orange20 200%)
	background -ms-linear-gradient(top, $grey20 0%, $orange20 200%)
	background linear-gradient(to bottom, $grey20 0%, $orange20 200%)
	
.header__logo
	margin-bottom 40px
	width 43%
	
.header__text
	font 30px $bold
	text-transform uppercase
	

.header__arrow
	animation arrow-movement 2s ease-in-out infinite
	left 50%
	opacity 0 
	position absolute
	top 90%
	transform-origin 50% 50%
	transform translate3d(-50%, -50%, 0)

.header__arrow:before
.header__arrow:after
	background $white
	content ''
	display block
	height 3px
	left 0 
	position absolute
	top 0
	width 30px
.header__arrow:before
	transform: rotate(45deg) translateX(-23%)
	transform-origin top left
.header__arrow:after
	transform: rotate(-45deg) translateX(23%)
	transform-origin top right
	


// arrow animation
@keyframes arrow-movement {
  0% {
    opacity: 0
    top: 85%
  }
  70% {
    opacity: 1
  }
  100% { 
    opacity: 0
  }
}

