.info-cluster__wrapper
	flexbox()
	flex-direction(row)
	width 100%
	
.info-cluster--left
	flexbox()
	flex-direction(column)
	width 50%
.info-cluster--right
	flexbox()
	flex-direction(column)
	width 50%
	
.info-graphic__wrapper
	flexbox()
	flex-direction(column)
	position relative
	width 100%
	height 300px
	
.info-graphic__bg-img
	position absolute
	right 0
	left 0
	width 100%
	height 300px 
.info-graphic__bg-img--tone
	background url('../images/filler-img/tone.jpeg') center center
	background-size 100%
.info-graphic__bg-img--strengthen
	background url('../images/filler-img/strengthen.jpg') center center
	background-size 100%
.info-graphic__bg-img--nutrition
	background url('../images/filler-img/nutrition.jpeg') center center
	background-size 100%
.info-graphic__bg-img--something
	background url('../images/filler-img/something.jpeg') center center
	background-size 100%
	

.info-graphic__hover
	display none