.nav__wrapper
	background-color $grey30
	flexbox()
	flex-direction(row)
	justify-content(center)
	height 60px
	
.nav--left
	align-items(center)
	flexbox()
	justify-content(flex-start)
	width 50%
.nav--right
	align-items(center)
	flexbox()
	justify-content(flex-end)
	width 50%
	
.nav__logo--link:hover
	cursor pointer
.nav__logo
	height 45px
	margin-left 40px
	width auto
	

.nav__menu
	flexbox()
	flex-direction(row)
	margin-right 20px
	
.nav__menu-item
	margin 0 20px
.nav__manu-item--link
	color $orange10
	font 20px $semibold
	text-transform uppercase
	&:hover
		color $orange20