* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  list-style-type: none;
}
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
header {
  height: 700px;
}
.nav__wrapper {
  background: #f47e39;
  height: 50px;
}
.temp {
  height: 900px;
}
@font-face {
  font-family: 'gill-sans-bold';
  src: url("../fonts/gill-sans-bold.ttf");
  src: url("../fonts/gill-sans-bold.woff");
  src: url("../fonts/gill-sans-bold.svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'gill-sans-semibold';
  src: url("../fonts/gill-sans-semibold.otf");
  src: url("../fonts/gill-sans-semibold.woff");
  src: url("../fonts/gill-sans-semibold.svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'gill-sans';
  src: url("../fonts/gill-sans.ttf");
  src: url("../fonts/gill-sans.woff");
  src: url("../fonts/gill-sans.svg");
  font-style: normal;
  font-weight: normal;
}
