@import "settings/colors.styl"
@import "settings/fonts.styl"

@import "tools/mixins.styl"
@import "tools/flex-mixins.styl"

@import "generic/reset.styl"
@import "generic/layout.styl"

//elements

@import "components/header.styl"



@font-face {
	font-family: 'gill-sans-bold';
	src: url('../fonts/gill-sans-bold.ttf');
	src: url('../fonts/gill-sans-bold.woff');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'gill-sans-semibold';
	src: url('../fonts/gill-sans-semibold.otf');
	src: url('../fonts/gill-sans-semibold.woff');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'gill-sans';
	src: url('../fonts/gill-sans.ttf');
	src: url('../fonts/gill-sans.woff');
	font-style: normal;
	font-weight: normal;
}
