* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  list-style-type: none;
}
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
.body__wrapper {
  background-color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
.landing__wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 700px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  position: relative;
  width: 100%;
  background: #1a1a1a;
  background: -moz-linear-gradient(top, #5a6265 0%, #1a1a1a 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #5a6265), color-stop(100%, #1a1a1a));
  background: -webkit-linear-gradient(top, #5a6265 0%, #1a1a1a 100%);
  background: -ms-linear-gradient(top, #5a6265 0%, #1a1a1a 100%);
  background: linear-gradient(to bottom, #5a6265 0%, #1a1a1a 100%);
}
.landing__logo {
  margin-bottom: 40px;
  width: 43%;
}
.landing__text {
  font: 30px 'gill-sans-bold', sans-serif;
  text-transform: uppercase;
}
.landing__arrow {
  animation: arrow-movement 2s ease-in-out infinite;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 95%;
  transform-origin: 50% 50%;
  transform: translate3d(-50%, -50%, 0);
}
.landing__arrow:before,
.landing__arrow:after {
  background: #fff;
  content: '';
  display: block;
  height: 3px;
  left: 0;
  position: absolute;
  top: 0;
  width: 30px;
}
.landing__arrow:before {
  transform: rotate(45deg) translateX(-23%);
  transform-origin: top left;
}
.landing__arrow:after {
  transform: rotate(-45deg) translateX(23%);
  transform-origin: top right;
}
@-moz-keyframes arrow-movement {
  0% {
    opacity: 0;
    top: 92%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes arrow-movement {
  0% {
    opacity: 0;
    top: 92%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes arrow-movement {
  0% {
    opacity: 0;
    top: 92%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes arrow-movement {
  0% {
    opacity: 0;
    top: 92%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.nav__wrapper {
  background-color: #1a1a1a;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  height: 60px;
}
.nav--left {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  width: 50%;
}
.nav--right {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
  width: 50%;
}
.nav__logo--link:hover {
  cursor: pointer;
}
.nav__logo {
  height: 45px;
  margin-left: 40px;
  width: auto;
}
.nav__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-right: 20px;
}
.nav__menu-item {
  margin: 0 20px;
}
.nav__manu-item--link {
  color: #bf6402;
  font: 20px 'gill-sans-semibold', sans-serif;
  text-transform: uppercase;
}
.nav__manu-item--link:hover {
  color: #ec8703;
}
.home__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
.header__wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  background: rgba(0,0,0,0.5);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  padding: 100px 0;
  position: relative;
  width: 100%;
}
.header__background-img {
  background: url("../images/filler-img/header.jpeg") center center;
  background-size: 100%;
  height: 550px;
  left: 0;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  position: absolute;
  right: 0;
  width: 100%;
}
.welcome__text--sm {
  color: #fff;
  font: 70px 'gill-sans-bold', sans-serif;
  letter-spacing: 0.1em;
  line-height: 60px;
  text-transform: uppercase;
  -webkit-text-stroke-width: 2px;
  -moz-text-stroke-width: 2px;
  -ms-text-stroke-width: 2px;
  text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
  -moz-text-stroke-color: #000;
  -ms-text-stroke-color: #000;
  text-stroke-color: #000;
}
.welcome__text--lg {
  color: #fff;
  font: 180px 'gill-sans-bold', sans-serif;
  line-height: 170px;
  letter-spacing: 0.032em;
  margin-bottom: 30px;
  text-transform: uppercase;
  -webkit-text-stroke-width: 2px;
  -moz-text-stroke-width: 2px;
  -ms-text-stroke-width: 2px;
  text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
  -moz-text-stroke-color: #000;
  -ms-text-stroke-color: #000;
  text-stroke-color: #000;
}
.welcome__intro-wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  background: #1a1a1a;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
}
.welcome__intro {
  color: #fff;
  font: 16px 'gill-sans-semibold', sans-serif;
  letter-spacing: 0.023em;
  text-align: center;
  width: 60%;
}
@font-face {
  font-family: 'gill-sans-bold';
  src: url("../fonts/gill-sans-bold.ttf");
  src: url("../fonts/gill-sans-bold.woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'gill-sans-semibold';
  src: url("../fonts/gill-sans-semibold.otf");
  src: url("../fonts/gill-sans-semibold.woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'gill-sans';
  src: url("../fonts/gill-sans.ttf");
  src: url("../fonts/gill-sans.woff");
  font-style: normal;
  font-weight: normal;
}
